<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <section class="chatter">
          <h1>Refugees in Washington state</h1>
          <p>
            Over the past 40 years, refugees have arrived in Washington state from countries around the world. From the end of the Vietnam War through the 1980s, most refugees came from Southeast Asia. The collapse of the Soviet Union led to an exodus in the 1990s and early 2000s. In recent years, refugees have fled violence in Iraq, Afghanistan and Somalia.
          <p>
            Select a column to view data for each year, including how many refugees arrived and their countries of origin.
        </section>
        <button class="switch">
          <span class="icon">&boxbox;</span>
          <label>Switch view</label>
        </button>
        <h2 class="title" data-mode="absolute">
          <span class="absolute">Number of refugees by country</span>
          <span class="relative">Share of refugees by country</span>
        </h2>
        <section class="plot">
          <aside class="y-max"></aside>
          <main class="plot-area"></main>
          <aside class="x-axis"></aside>
        </section>
        <ul class="legend"></ul>
        <section class="details">
          <h1 class="tease">Choose a column for details</h1>
        </section>
        <section class="source">
          Source: U.S. Citizenship and Immigration Services
        </section>
        <section class="credit">
          Thomas Wilburn / The Seattle Times
        </section>
      </main>
    </responsive-child>

    <script>
window.refugeeCounts = <%= JSON.stringify(csv.updated) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
